@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');






@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-8 lg:px-24 xl:px-32;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  .hero-content {
    @apply  w-full flex-col justify-center items-center flex pt-[150px] pb-[170px] lg:pb-[215px] lg:pt-[200px] text-orange-0 ;
  }
  .hero-title{
    @apply font-['Raleway'] text-[38px] lg:text-[48px] z-10 tracking-wide font-semibold leading-tight
   }
}

@keyframes beacon {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.8);
  }

  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
  }
}

.beacon-button {
  animation: beacon 2s infinite;
  /* Change to your button color */
  color: #fff;
  /* Change to your button text color */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Raleway' 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
